@model ItemForDetailsVM

@{

    Layout = null;
    // We use same page for add and edit.
    string urlPostString = "/Items/Create";
    if (ViewBag.Status == "Update")
    {
        urlPostString = "/Items/Update";
    }
}

<div class="row">
    <div class="col-md-4">
        <form id="form" needs-validation novalidate="novalidate" name="form" enctype="multipart/form-data" method="post" asp-action="#@urlPostString">
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Parent Category</label>
                <select asp-items="ViewBag.CategoriesDrp" class="form-control">
                    <option value="0">Select Category</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Unit Of Measurement</label>
                <select asp-items="ViewBag.UOMDrp" class="form-control">
                    <option value="0">Select Category</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SalePrice" class="control-label"></label>
                <input asp-for="SalePrice" class="form-control" />
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerUnit" class="control-label"></label>
                <input asp-for="PricePerUnit" class="form-control" />
                <span asp-validation-for="PricePerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@ViewBag.Status" class="btn btn-primary" />
            </div>
        </form>
        <div class="form-group">
            <input type="button" id="clickme" value="clickme" class="btn btn-primary" />
        </div>
    </div>
</div>

<div>
    <a href="#/Items/Index">Back to List</a>
</div>
<script>
    //alert("kdsjf");
    $(function () {
        //$('#red').on('click', function () { );
        $("#clickme").click(function () {
            ohSnap('Oh Snap! You can\'t access this page!', { 'color': 'red', 'duration': '15000' })

            $.alert({
                title: 'Alert!',
                content: 'Simple alert!',
            });
        });
        $("#form").validate({
        rules: {
            Label: "required",
            Code: "required",
        },
        messages: {
            Label: "Please enter your first name",
            Code: "Please enter your last name"
        },
        errorElement: "span",
        errorPlacement: function (error, element) {
            error.addClass("invalid-feedback");

            if (element.prop("type") === "checkbox") {
                error.insertAfter(element.parent("label"));
            } else {
                error.insertAfter(element);
            }
        },
            highlight: function (element, errorClass, validClass) {
                //debugger;
                $(element).parents(".form-group").children(".form-control").addClass("is-invalid").removeClass("is-valid");
            },
            unhighlight: function (element, errorClass, validClass) {
                //debugger;
                $(element).parents(".form-group").children(".form-control").addClass("is-valid").removeClass("is-invalid");
            }
        });
    });
    $("#form").on("submit", function (e) {
        if ($("#form").valid()) {
            routingApp.runRoute('post', '#@urlPostString');
            e.preventDefault();
            e.stopPropagation();
        }
    });

    // add dynamic create or update link

    if (IfLinkNotExist("POST", "#@urlPostString")) {
        routingApp.post("#@urlPostString", function (context) {
            $("#loader").removeClass("fadeOut").addClass("fadeIn");

            var formData = new FormData($('#form')[0]);
            $.ajax({
                url: '@urlPostString',
                data: formData,
                type: "POST",
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#loader").removeClass("fadeIn").addClass("fadeOut");
                    if (response.success) {
                        ohSnap(response.message, { 'color': 'green' });
                        window.location.href = "#/Items/Index";
                    }
                    else {
                        ohSnap(response.message, { 'color': 'red', 'duration': '10000' })
                        //ClearAll();
                        //window.location.reload();
                    }
                },
                error: function (ex) {
                    $("#loader").removeClass("fadeIn").addClass("fadeOut");
                    ohSnap(ex.message, { 'color': 'red', 'duration': '10000' });
                    //ClearAll();
                    //window.location.reload();
                }
            });
        });
    }

</script>
