#loader {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 90000;
}

    #loader.fadeOut {
        opacity: 0;
        visibility: hidden;
    }

.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
#divError {
    display: none;
    border: 1.5px solid;
    position: fixed;
    top: 20%;
    right: 1%;
    z-index: 9999;
    min-width: 25%;
}
#divSuccess {
    display: none;
    border: 1.5px solid;
    position: fixed;
    top: 20%;
    right: 1%;
    z-index: 9999;
    min-width: 25%;
}
/* Oh Snap */

#ohsnap {
    position: fixed;
    top: 10%;
    right: 5%;
    margin-left: 5px;
    z-index: 99;
}

.alert {
    text-align: right;
    margin-top: 5px;
    padding: 15px;
    border: 1px solid #eed3d7;
    border-radius: 4px;
    float: right;
    clear: right;
    background-color: white;
}

.alert-red {
    color: white;
    background-color: #DA4453;
}

.alert-green {
    color: white;
    background-color: #37BC9B;
}

.alert-blue {
    color: white;
    background-color: #4A89DC;
}

.alert-yellow {
    color: white;
    background-color: #F6BB42;
}

.alert-orange {
    color: white;
    background-color: #E9573F;
}

.buttons {
    margin-bottom: 20px;
    display: block;
}

    .buttons a {
        margin: auto;
        margin-bottom: 10px;
        float: none !important;
        text-align: center;
    }

        .buttons a span {
            padding-left: 0px;
        }

#ohsnap {
    text-shadow: none;
}

@media (max-width: 450px) {
    .buttons {
        margin-bottom: 334px;
    }
}
